html, body {
	background-color:blanchedalmond;
	/* background-size: cover; */
}
body {
	background-color:blanchedalmond;
	/* margin: 0; */
}
/* span { */
	/* transition-duration: 0.5s; */
/* } */
/* span:hover{ */
	/* cursor: context-menu; */
	/* cursor: pointer; */
/* } */
.letter{
	transition-duration: 0.5s;
}
.letter:hover{
	font-size: 125%;
}

.parent {
	height: 100px;
	/*padding: 10px;*/
	/* Setup */
	position: relative;
	/* outline: dashed 1px black; */
}
.child {
	/* Center vertically and horizontally */
	position: absolute;
	font-size: 40px;
	/* font-size: 3em; */
	top: 70%;
	left: 50%;
	transform: translate(-50%, -70%);
	
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: block;
	white-space: nowrap;
	/* line-height: 1em; /* a  */
	/* max-width: 30em; /* a x number of line to show (ex : 2 line) */
	/* outline: dashed 1px black; */
}

.parentBox{
}

.mybox {
	display: inline-block;
	vertical-align:top;
	box-shadow: 0 0 15px;
	transition-duration: 0.5s;
	width: 560px;
	position:relative;
	margin: 25px 25px 25px 25px;
	text-align: start;
	
	background-color:white;
	border-radius: 10px;
}
.mybox:hover{
	transform: scale(1.08);
	/* font-size: 125%; */
}

.coverImg{
	display:block;
	transition-duration: 0.5s;
	width: 100%;
	height: 100%;
	/* z-index: 1; */
	position: relative;
	
	border-radius: 10px;
}
.coverImg:hover{
	opacity: 0;
}

.hiddenInfo{
	position: absolute; /*parent has to have position relative for this to work*/
	overflow: hidden;
	padding: 20px;
	/* height: 100%; */
}

.iconParent{
	position: relative;
	height: 30px;
}
.iconChild{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 30px;
}
.icons{
	transition-duration: 0.5s;
	height: 25px;
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
}
.icons:hover{
	transform: scale(1.4);
}