[v-cloak] {
     display: none;
}

html{
	transition-duration: 0.5s;
	background-color: blanchedalmond;
  /* background-image: url("https://img.freepik.com/premium-vector/seamless-repeating-pattern-birds_209002-67.jpg?w=1000"); */
}

body {
  margin: 0;
  /* backgroun-color: blanchedalmond; */
  /* background-image: url("https://img.freepik.com/premium-vector/seamless-repeating-pattern-birds_209002-67.jpg?w=1000"); */
  /* background-image: url("https://cdn.discordapp.com/attachments/257282783980814336/1086147140407005265/zWkSvj.jpg"); */
    
  /* background-size: cover; */
  /* background-blend-mode: color; */
  /* overflow: hidden; */
}
  
.albumArt{
	transition-duration: 0.5s;
	cursor: pointer;
	filter: grayscale(1);
}

.albumArt:hover{
	filter: grayscale(0);
	transform: scale(1.03);
}

.genreButton{
	cursor: pointer;
	text-transform: uppercase;
	border: 1px solid #333;
	margin: 0 0 10px 10px;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	background: #363636;
	padding: 0.5em;
	transition-duration: 0.5s;
}

.genreButton:hover{
	transform: scale(1.10);
	background: #6ec45a;
}